@charset "utf-8";

/* Header */ 

html {
	background: rgb(10, 10, 10)
}
body {
	background: rgb(250, 250, 256);
        box-shadow: rgb(250, 250, 250) 0px 0px 20px 10px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
/* video {
	display: block;
	margin: auto;
	width: 790px;
}
 video::cue {
	background: rgb(5, 5, 5);
	color: rgb (150, 150, 100);
	font: 1.2em serif;
}
video::cue(.Main) {
		text-shadow: black 3px 3px 0px;
		font: 2.5em serif;
}
audio {
	display: block;
	margin: auto;
	width: 10px;
} */
li.mainNav {
	float: left;
	text-align: center;
	display: block;
	padding: 8px;
}

ul.horizontal {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 8px;
	overflow: hidden;
	font-size: 20px;
	background-color: #333;
	color: #f2f2f2
}

	ul.horizontal a {
		color: #f2f2f2;
		text-decoration: none;
	}

ul.submenu {
	display: block;
	float: right;
}

ul.submenu {
	display: none;
	list-style-type: none;
	text-align: justify;
}

	a.submenuTitle:hover + ul.submenu, ul.submenu:hover {
		display: block;
		color: #f2f2f2;
	}
body > header > img {
			display: block;
			border: 1px solid rgb(10, 10, 10);
			margin: auto;
			width: 1200px;
			height: 300px;
}
body > header > nav#navv {	
			  width: 1200px; 
        		  background: rgb(50, 50, 150);
			  border: 1px solid rgb(10, 10, 10);
}
body > header > nav#navv > ul {
				background: rgb(50, 50, 150);		
}
body > header > nav#navv > ul > li {
				 display: block;
				 float: left;
				 width: 14%;						
}
body > header > nav#navv > ul > li > a {
				 color: rgb(200, 20, 20);
				 font-size: 20px;
				 text-decoration: none;
				 text-align: center;
}
body > header > nav#navv > ul > li > a:hover {
				 color: rgb(256, 100, 100);
				 text-decoration: none;
}

/* Left Column */ 

body > section#leftColumn {
	                     background: rgb(256, 255, 255);
			     width: 790px;
			     margin-left: 0px;
			     margin-right: auto;
			     height: 1500px;
		             float: left;
}
body > section#leftColumn > article {
		                       float: left;
}
body > section#leftColumn > article#topNews {
			                       border: 1px solid rgb(10, 10, 10);
				               font-size: 40px; 
					       text-align: center;
	                                       height: 400px;
			     		       width: 800px;
}
article#topNews > img {
			
			height: 350px;
			width: 800px;
			margin-top: 0px;
			margin-bottom: 0px;
}
article#topNews {
		border: 1px solid rgb(10, 10, 10);
		font-size: 40px; 
		text-align: center;
	        height: 350px;
		width: 800px;
}
.slideshow-container1 {
  max-width: 800px;
  position: relative;
  margin: auto;
}
.text {
	font-size: 32px;
	color: rgb(356, 356, 356);
	bottom: 300px;
        width: 100%;
	position: absolute;
	text-align: center;
	padding: 8px 12px;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(187, 187, 187);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
			text-align: center;
}
.active {
  background-color: rgb(113, 113, 113);
}
.mySlides1 {
	    display: none;	    
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

body > section#leftColumn > article#news {
			               	       border: 1px solid rgb(250, 250, 256);
					       background: rgb(250, 250, 256);
	                                       height: 375px;
					       width: 393px;
}
article#news > h2 {
			font-size: 32px;
			margin-top: -1px;
			margin-bottom: -1px;
			text-align: center;
}
article#news > img {
			height: 175px;
			width: 350px;
			margin-top: -1px;
			margin-bottom: -1px;
			margin-left: 21px;
}
article#news > p {
			font-size: 16px;
			margin-top: 0px;
			margin-bottom: -1px;
			margin-left: 25px;
}
body > section#leftColumn > article#tactions {
			                       border: 1px solid rgb(250, 250, 256);
					       background: rgb(250, 250, 256);
	                                       height: 375px;
					       width: 393px;
}
article#tactions > h2 {
			font-size: 32px;
			margin-top: -1px;
			margin-bottom: -1px;
			text-align: center;
}
article#tactions > img {
			height: 175px;
			width: 350px;
			margin-top: 0px;
			margin-bottom: -1px;
			margin-left: 21px;
}
article#tactions > p {
			font-size: 16px;
			margin-top: 0px;
			margin-bottom: -1px;
			margin-left: 25px;
}
body > section#leftColumn > article#injuries {
			                       border: 1px solid rgb(250, 250, 256);
	  				       background: rgb(250, 250, 256);
	                                       height: 375px;
					       width: 393px;
}
article#injuries > h2 {
			font-size: 32px;
			margin-top: -1px;
			margin-bottom: 0px;
			text-align: center;
}
article#injuries > img {
			height: 175px;
			width: 350px;
			margin-top: 0px;
			margin-bottom: -1px;
			margin-left: 21px;
			image-align: center;
}
article#injuries > p {
			font-size: 16px;
			margin-top: -1px;
			margin-bottom: -1px;
			margin-left: 25px;
}
body > section#leftColumn > article#aLeague {
			                       border: 1px solid rgb(250, 250, 256);
					       background: rgb(250, 250, 256);
	                                       height: 375px;
					       width: 393px;
}
article#aLeague > h2 {
			font-size: 32px;
			margin-top: -1px;
			margin-bottom: 0px;
			text-align: center;
}
article#aLeague > img {
			height: 175px;
			width: 350px;
			margin-top: 0px;
			margin-bottom: -1px;
			margin-left: 21px;
			image-align: center;
}
article#aLeague > p {
			font-size: 16px;
			margin-top: -1px;
			margin-bottom: -1px;
			margin-left: 25px;
}

/* Right Column */ 

body > section#rightColumn {
			      width: 400px;
			      text-align: center;
			      margin-left: auto;
	                      margin-right: 0px;
			      height: 1500px;
}
body > section#rightColumn > article {
				        font-size: 5em;
}
body > section#rightColumn > article#scores {
			                border: 1px solid rgb(250, 50, 50);
					background: rgb(250, 250, 256);
}
article#scores > h2 {
			font-size: 40px;
			margin-top: 0px;
			margin-bottom: 10px;
}
article#scores > nav { 
			column-count: 2;
			margin-left: 50px;
			margin-right: 50px;
}
article#scores > nav > ol {
			margin-top: 0px;
			margin-bottom: 10px;
			margin-left: -10px;
			margin-right: -10px;
}
article#scores > nav > ol > p {
			font-size: 25px;
			margin-top: 0px;
			margin-bottom: 10px;
			margin-left: -10px;
			margin-right: -10px;
			color: rgb(50, 50, 256);
			text-align: left;	
}
body > section#rightColumn > article#stats {
			                border: 1px solid rgb(250, 50, 50);
					background: rgb(240, 240, 256);
}
article#stats h2 {
			font-size: 40px;
			margin-top: 0px;
			margin-bottom: 10px;
}
article#stats h3 {
			font-size: 30px;
			margin-top: 0px;
			margin-bottom: 10px;
}
article#stats p {
			font-size: 25px;
			margin-top: 0px;
			margin-bottom: 10px;
			margin-left: 75px;
			margin-right: 0px;
			color: rgb(50, 50, 256);
			text-align: left;	
}
.mySlides {
	    display: none;	    
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

body > section#rightColumn > article#standings {
			                border: 1px solid rgb(250, 50, 50);
					background: rgb(240, 240, 256);
}
article#standings > h2 {
			font-size: 40px;
			margin-top: 0px;
			margin-bottom: 10px;
}
article#standings > nav > ol > h3 {
			font-size: 30px;
			text-align: left;
			margin-top: 0px;
			margin-bottom: 5px;
}
article#standings > nav { 
			column-count: 2;
			margin-left: 50px;
			margin-right: 50px;
}
article#standings > nav > ol {
			margin-top: 0px;
			margin-bottom: 10px;
			margin-left: -10px;
			margin-right: -10px;
}
article#standings > nav > ol > p {
			font-size: 25px;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: -10px;
			margin-right: -10px;
			color: rgb(50, 50, 256);
			text-align: left;	
}
body > section#rightColumn > article#blogs {
			                border: 1px solid rgb(250, 50, 50);
					background: rgb(240, 240, 256);
}
article#blogs > h2 {
			font-size: 40px;
			margin-top: 0px;
			margin-bottom: 10px;
}
article#blogs > p > strong {
			     color: rgb(50,50,250);
			     text-decoration: none;
}
article#blogs > p {
			font-size: 20px;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 10px;
			margin-right: 0x;
			color: rgb(50, 50, 50);
			text-align: left;	
}

/* Footer */ 

footer {
	clear: both;
	background: rgb(250, 250, 250);
	border: 1px solid rgb(20, 20, 20);
}