
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  
}

/* Header/Blog Title */
.header {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  background: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
	float: left;
  width: 50%;
  padding-right: 20px;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}

/* images */
.img src {
  background-color: #aaa;
  width: 50%;
  height: 10%;
  padding: 10px;
}

/* Add a card effect for articles */
.card {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: black;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 40px;
  }
}
