body {
  margin: 0;
  font-family: Ariel, Helvetica, sans-serif;
  background-color: #bbb;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #222;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none; /* to get rid of the bullet points*/
  overflow: hidden;
  background-color: #blue;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 5px 10px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
 
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out; /*this is for the 3D rotation */
  width: 18px; 
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
/*Now i will add sudo elements*/
.header .menu-icon .nav-icon:before {
  background: #333;
  content:"";
  display:block;
  height:100%;
  width:100%;
  position:absolute;
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  background: #333;
  content:"";
  display:block;
  height:100%;
  width:100%;
  position:absolute;
  top: -5px;
}

/* menu btn */
/* i had to get rid of the check box so that it could look neat. so it is displayed to None.*/
.header .menu-btn {
  display: none;
}
/*this selector will act as if it was a check box. so when selected it bring down a drop menu.*/
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


/* 38em = 768px @ 16pt font */

@media (min-width: 38em) {
  .header li {
    float: right;
	
  }
  .header li a {
    padding: 10px 30px;
	
  }
  
  .header .menu {
    clear: none;
    float: left;
    max-height: none;
	max-width: fixed;
  }
  
  .header .menu-icon {
    display: none;
  }
}