* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    resize:horizontal;
}
body {
    margin: 0;
    font-family: Arial;
    background-color: ghostwhite;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 1px;
    text-align: center;
}

.banner {
    width: 100%;
    height: 100px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

    /* Style the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 4px 6px;
        text-decoration: none;
    }

        /* Change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

    /* Left and right column */
    .column.side {
        width: 25%;
    }

    /* Middle column */
    .column.middle {
        width: 50%;
    }

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    -moz-box-shadow: rgba(31, 61, 31, 0.9) 30px 0px 25px, rgba(31, 61, 31, 0.9) -20px 0px 30px;
    -webkit-box-shadow: rgba(31, 61, 31, 0.9) 30px 0px 25px, rgba(31, 61, 31, 0.9) -20px 0px 30px;
    box-shadow: rgba(31, 61, 31, 0.9) 30px 0px 25px, rgba(31, 61, 31, 0.9) -20px 0px 30px;
}

a.heading {
    text-decoration: none;
    color: rgb(0,0,0);
    padding-bottom: 5em;
}

article h2 {
    text-align: center;
    line-height: 35px;
}

.articleBody {
    font-family: Arial;
    display: flex;
    line-height: 22px;
    padding: 25px 15px 25px 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

li.mainNav {
    float: left;
    text-align: center;
    display: block;
    padding: 12px;
}

ul.horizontal {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 12px;
    overflow: hidden;
    font-size: 24px;
    font-family: 'Times New Roman';
}

ul.submenu {
    display: block;
    float: right;
}

ul.submenu {
    display: none;
    list-style-type: none;
    text-align: justify;
}

    a.submenuTitle:hover + ul.submenu, ul.submenu:hover {
        display: block;
    }
/*TAble Styles*/
.sideNav tbody tr {
    border-bottom: 2px solid gray;
    display: table;
    padding-left: 10%;
    width: 100%;
}

.sideNav tbody td {
    text-align: start;
    padding: 30px;
}

    .sideNav tbody td:hover {
        color: blue;
    }

.sideNav {
    float: left;
}
div.table 
div.table2 {
    clear: both;
    content: "";
    display: table;
    padding: 5px;
    float: left;
    width: 100%;
    margin-bottom: 52px;
}

table {
    width: 100%;
    border-collapse: collapse
}

div.table th, div.table td, div.table tr

div.table2 th, div.table2 td, div.table2 tr {
    border-bottom: 2px solid #ddd;
    margin: 50px;
    padding: 20px;
}


tr {
    padding: 10px;
    text-align: center;
}

td {
    padding: 15px;
}

table caption {
    padding: 35px;
    font-size: 30px;
    color: cadetblue;
    font-display: block;
    font-family: fantasy;
}

div.table tr:first-of-type {
    background-color: cyan;
}
div.table2 tr:first-of-type {
    background-color: cyan;
    font-size: 14px;
}

table tr {
    background-color: rgb(255,255,255);
}
/**/
div#video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px;
}
/*Calendar table styles*/
table.calendar tr{
    

}
.month{
    color:#FFFF;
    font-size: larger;
    font-variant-caps:small-caps;
}
.match{
    background-color:aqua;
}
.topic{
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    padding: 1em 0;
    text-decoration: underline;
}
#comments {
    font-size: 28px;
    padding: 24px;
    
}
blockquote {
    quotes: "\201C" "\201D";
    font-size: 24px;
    padding-left: 15px;
    font-style: italic;
    color: darkred;
}

    blockquote::before {
        content: open-quote;
    }

    blockquote::after {
        content: close-quote;
    }

